body{
    margin:0 auto;
    height: auto;
}
.section1{
    background-color: #f0eded;
}
.navbar{
    padding: 3% 3%
}
.navbar nav{
    display: flex;
    align-items: center;
}
#Menu{
    display: none;
}
.contact-us{
    width: 50%;
    text-align: end;
}
.contact-us button{
    font-size: 20px;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #f0eded;
}
.section1 .navbar ul{
    display: flex;
    list-style: none;
}
.section1 .navbar ul li{
    margin-right: 4rem;
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul a{
    color: #282828;
    padding: 6px 7px;
    text-decoration: none;
}
.navbar ul a:hover{
    color:white;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    transform: scale(1.1);
    transition: transform 0.2s;
}
.title{
    display: flex;
    padding: 3% 5.7%;
}
.title .image{
    /* margin-left: 5rem;
    margin-top: 3rem; */
}
.title .dis h1{
    font-size: 5rem;
    word-break: break-word;
}
.title .dis button{
    color: white;
    background-color: black;
    width: 35%;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
}
.section2{
    background-color: #282828;
}
.section2 .create-memory{
    margin: 0 auto;
    width: 40%;
    text-align: center;
    color: white;
}
.create-memory h2{
    margin: 0;
    font-size: 50px;
    padding-top: 10%;
}
.create-memory button{
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color:#282828;
    margin: 5%;
}
.section3{
    background-color: #f0eded;
    padding-top: 10%;
    position: relative;
}
/* .active{
    transform: translateY(40px);
    transition: transform .5s ease-in-out;
} */
.flex-container{
   display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 92%;
    position: relative;
    overflow: hidden;
}
.section3 a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 50px;
}
  
.section3 a:hover{
    cursor: pointer;
}
  
#previous{
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    top: 12%;
    left: 5%;
}
  
#next{
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    right: 5%;
    top: 12%;
}
.active{
    transition: transform .2s ease-in;
}
.round{
    border-radius: 50%;
}
.content{
    width: 65%;
    margin: 0px 10px;
}
.cont-2{
    position: absolute;
    transform: translateX(80rem);
}
.cont-3{
    position: absolute;
    transform: translateX(-80rem);
}

.content .image{
    margin: 0 auto;
    width: 23em;
}
/* .content span{
    background-color:#282828;
    float: none;
    height: 4px;
    width: 70px;
} */
.content h2{
    text-align: center;
}
.content p{
    text-align: center;
}
.discription{
    margin: 0 auto;
    width: 45%;
    text-align: center;
    margin-top: 15%;
}
.discription .text{
    margin: 0 10px;
}
.discription h1{
    font-size: 4rem;
}
.discription h5{
    margin: 0;
}
.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: auto;
    width: 85%;
    margin-top: 12%;
    padding: 3%;
}
.place-info{
    width: 42%;
}
.info .text{
    display: flex;
}
.info .arrow{
    font-size: 9rem;
    color: #282828;
    text-align: right;
}
.section4{
    background-color: #282828;
}
.like-to-be{
    display: flex; 
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 5%;
    width: 80%;
}
.like-to-be .text{
    width: 40%;
    color: white;
}